html {
  @apply bg-gray-800;
  @apply subpixel-antialiased;
  font-family: 'Sansita Swashed', cursive;
  @apply lining-nums;
}

// goblet of fire css
.goblet {
  @apply w-56;
  & .fire-svg {
    @apply w-full;
    @apply h-auto;
    @apply relative;
    & .flame {
      animation-name: wobble;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      &-one {
        animation-duration: 4s;
        animation-delay: 1s;
      }
      &-two {
        animation-duration: 3s;
        animation-delay: 2s;
      }
      &-three {
        animation-duration: 2.1s;
        animation-delay: 3s;
      }
      &-four {
        animation-duration: 3.2s;
        animation-delay: 4s;
      }
      &-five {
        animation-duration: 2.5s;
        animation-delay: 5s;
      }
    }
  }
  & .vase-svg {
    width: 200%;
    @apply h-auto;
    @apply relative;
    top: -120px;
    left: -60px;
  }
}

@keyframes wobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}

// paper parchment css
.parchment {
  &::after {
    content: '';
    @apply w-full;
    @apply h-1;
    @apply absolute;
    @apply left-0;
    bottom: -0.25rem;
    background: linear-gradient(135deg, #fefcbf 25%, transparent 25%) center top
        repeat-x,
      linear-gradient(045deg, transparent 75%, #fefcbf 75%) center top repeat-x;
    background-size: 12px 8px;
  }
}
